.about 
  text-align: center

.about-coffee
  .about-coffee-img
    width: 100%
    object-fit: cover

  .about-coffee-desc 
    padding: 0.2em 0 4.5em

  .about-coffee-heading
    font-size: $title-md-smscr
  
  .about-coffee-text 
    color: $text-secondary
    padding-bottom: 1.2em

.about-open
  background: $secondary
  color: $text-inverse
  padding: 2.5em 0

  .about-open-heading 
    margin-top: 0
    font-size: 1.375rem

    .day-open 
      display: block
      font-size: 1.06rem
      margin-bottom: .4em
      @include font($font-serif, $font-bold)