// Font
$font-serif: 'Playfair Display', serif
$font-sans: 'Nunito Sans', sans-serif 

// Font weight
$font-normal: 400
$font-semi-bold: 600
$font-bold: 700

// Font mixin
=font($type, $weight)
  font-family: $type 
  font-weight: $weight